.centered-container {
  text-align: center;
  /* margin: 300px; */
}

.left-aligned-text {
  text-align: left;
}

.level-number {
  font-size: 48px;
  text-align: center;
  color: #fdc437;
  font-family: "Impact", Arial, sans-serif;
  text-shadow: 2px 2px 1px white;
}

p {
  text-align: center;
  font-size: xx-large;
  color: orange;
  font-family: Arial, Helvetica, sans-serif";
}
img {
  max-width: 1000px; /* Replace 200px with your desired width */
}